@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/ingram-micro.png" alt="Company Logo" class="img-fluid mb-4" style="max-height: 100px;" />
    <h1 class="display-4">Welcome</h1>
    <p>Use this app to get Azure Retail Prices</p>
    <a href="/GetPrices" class="btn btn-primary">Get Azure Retail Prices</a>
</div>